html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote::before,
blockquote::after,
q::before,
q::after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}


html{
  background: grey;
}
.global__Grid {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto;
  text-align: center;
  grid
}

.nav__Bar{
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 102px;
  background: #d33a2c;
}
.logo {
  width: 193px;
  height: 70px;
  margin-top: 15%;
  margin-left: 5%
}

.buttom__1:hover {
  background-color: #b30f0f;
  border-radius: 10px;
  border: none;
  cursor: pointer;
}
.buttom__1 {
  font-family: "Nunito", sans-serif;
  font-weight: 700;
  font-size: 20px;
  color: white;
  height: 45px;
  width: auto;
  background-color: #d33a2c;
  border: none;
  cursor: pointer;
}

.buttom__2 {
  font-family: "Nunito", sans-serif;
  font-weight: 700;
  color: white;
  font-size: 20px;
  display: flex;
  height: 45px;
  width: 110px;
  background-repeat: no-repeat;
  background-position: right;
  background-size: 30px 30px;
  background-color: #b30f0f;
  border-radius: 10px;
  border: none;
  cursor: pointer;
  align-items:center;
  justify-content: space-around;

}

.buttom__2 img {
  width: 30px;
  height: 30px;
}

.searchBox {
  width: 350px;
  height: 56px;
  border-radius: 10px;
  border: none;
  font-family: "Nunito", sans-serif;
  font-weight: 700;
  font-size: 20px;
  color: grey;
  background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNCAyNCIgaGVpZ2h0PSIyNHB4IiB3aWR0aD0iMjRweCI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJsaW5lYXItZ3JhZGllbnQiIHgxPSIyMi4zMSIgeTE9IjIzLjYyIiB4Mj0iMy43MyIgeTI9IjMuMDUiIGdyYWRpZW50VW5pdHM9InVzZXJTcGFjZU9uVXNlIj48c3RvcCBvZmZzZXQ9IjAiIHN0b3AtY29sb3I9IiNlOTM3MjIiLz48c3RvcCBvZmZzZXQ9IjEiIHN0b3AtY29sb3I9IiNmODZmMjUiLz48L2xpbmVhckdyYWRpZW50PjwvZGVmcz48dGl0bGU+TWFnbmlmaWVyPC90aXRsZT48cGF0aCBmaWxsPSJ1cmwoI2xpbmVhci1ncmFkaWVudCkiIGQ9Ik0yMy4zMyAyMC4xbC00LjczLTQuNzRhMTAuMDYgMTAuMDYgMCAxIDAtMy4yMyAzLjIzbDQuNzQgNC43NGEyLjI5IDIuMjkgMCAxIDAgMy4yMi0zLjIzem0tMTcuNDgtNS44NGE1Ljk0IDUuOTQgMCAxIDEgOC40MiAwIDYgNiAwIDAgMS04LjQyIDB6Ii8+PC9zdmc+);
  background-position: left;
  background-repeat: no-repeat;
  background-size: 30px 20px;
}

.first__Grid {
  display: grid;
  grid-template-columns: repeat(2,1fr);
  grid-template-rows: auto;
  background-color: #c7372a;
}

.first__Grid >div:nth-child(odd) {
  background-color: #bc3428;
}

.author__Face{
  width: 75px;
  height: 75px;
  border: solid white 5px;
  border-radius: 15px;
}

.in__Grid {
  border-bottom: 1px black solid;
  height: 100vh;
  display: inline-grid;
  grid-template-columns: 1;
  grid-template-rows: auto;
}

.in__Grid div {
  align-self: center;
}
