html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote::before,
blockquote::after,
q::before,
q::after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}


html{
  background: #757575;
}
.global__Grid {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto;
  text-align: center;
}

.nav__Bar{
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 102px;
  background: #878383;
}
.logo {
  width: 193px;
  height: 70px;
  margin-top: 15%;
  margin-left: 5%
}

.buttom__1:hover {
  background-color: #757575;
  border-radius: 10px;
  border: none;
  cursor: pointer;
}
.buttom__1 {
  font-family: "Nunito", sans-serif;
  font-weight: 700;
  font-size: 20px;
  color: white;
  height: 45px;
  width: auto;
  background-color:#878383 ;
  border: none;
  cursor: pointer;
}

.buttom__2 {
  font-family: "Nunito", sans-serif;
  font-weight: 700;
  color: white;
  font-size: 20px;
  display: flex;
  height: 45px;
  width: 110px;
  background-repeat: no-repeat;
  background-position: right;
  background-size: 30px 30px;
  background-color: #878383;
  border-radius: 10px;
  border: none;
  cursor: pointer;
  align-items:center;
  justify-content: space-around;

}

.buttom__2 img {
  width: 30px;
  height: 30px;
}

.searchBox {
  width: 350px;
  height: 56px;
  border-radius: 10px;
  border: none;
  font-family: "Nunito", sans-serif;
  font-weight: 700;
  font-size: 20px;
  color: grey;
  background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNCAyNCIgaGVpZ2h0PSIyNHB4IiB3aWR0aD0iMjRweCI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJsaW5lYXItZ3JhZGllbnQiIHgxPSIyMi4zMSIgeTE9IjIzLjYyIiB4Mj0iMy43MyIgeTI9IjMuMDUiIGdyYWRpZW50VW5pdHM9InVzZXJTcGFjZU9uVXNlIj48c3RvcCBvZmZzZXQ9IjAiIHN0b3AtY29sb3I9IiNlOTM3MjIiLz48c3RvcCBvZmZzZXQ9IjEiIHN0b3AtY29sb3I9IiNmODZmMjUiLz48L2xpbmVhckdyYWRpZW50PjwvZGVmcz48dGl0bGU+TWFnbmlmaWVyPC90aXRsZT48cGF0aCBmaWxsPSJ1cmwoI2xpbmVhci1ncmFkaWVudCkiIGQ9Ik0yMy4zMyAyMC4xbC00LjczLTQuNzRhMTAuMDYgMTAuMDYgMCAxIDAtMy4yMyAzLjIzbDQuNzQgNC43NGEyLjI5IDIuMjkgMCAxIDAgMy4yMi0zLjIzem0tMTcuNDgtNS44NGE1Ljk0IDUuOTQgMCAxIDEgOC40MiAwIDYgNiAwIDAgMS04LjQyIDB6Ii8+PC9zdmc+);
  background-position: left;
  background-repeat: no-repeat;
  background-size: 30px 20px;
}

.front__Title {
  background: white;
  font-size: 40px;
  line-height: 40px;
  float: center;
  position: absolute;
  margin: 1% 40%;
  width: 20rem;
}

.seriusly {
margin: 1% 10%;
float: right;
background: #878383;
border-radius: 10px;
border: white 4px solid;
font-size: 20px;
padding: 10px;
background-size: auto;
}

.first__Latest {
  display: grid;
  grid-template-columns: repeat(2,1fr);
  grid-template-rows: 1fr auto auto;
  background-color: #878383;
  margin-top: 2em;
}

.first__Latest >div:nth-child(odd) {
  background-color: #757575;
}

.in__Grid {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: 4;
  height: 100vh;
  text-align: left;
  }

.in__One {
  display: inline-flex;
  align-items: center;
  margin-left: 4rem;
  margin-top: 3em;
  justify-content: baseline
}

.in__Two {
  display: inline-flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-left: 4rem;
}

.in__Three {
  display: inline-flex
  flex-direction: column;
  justify-content: flex-start;
  margin-left: 4rem;

}

.in__Three i {
  color: white;
  font-size: 80px;
}

.square{
  width: 75px;
  height: 75px;
  border: solid white 5px;
  border-radius: 15px;
  background: black;
  transform: rotate(340deg);
  transform-origin: bottom left;
}

.author1 {
margin-left: 2rem;
text-decoration: none;
font-family: "Nunito", sans-serif;
font-weight: 700;
color: white;
}

.wrote {
font-family: "Nunito", sans-serif;
font-style: italic;
font-size: 15px;
color: white;
margin-left: 0.5rem;
}

.article__Title {
  font-family: "Nunito",sans-serif;
  font-size: 40px;
  font-weight: bold;
  color: white;
}

.comments1 {
  margin-top: 1rem;

}
.comments1 a {
  color: white;
  text-decoration: none;
  font-weight: bold;
  font-family: "Nunito",sans-serif;
  display: inline-flex;
}

.comments1 p {
  margin-left: 1rem;
}

.options1 {
  color: white;
  text-decoration: none;
  font-weight: bold;
  font-family: "Nunito",sans-serif;
  display: inline-flex;
  margin-top: 3rem;
}

.art__Flex {
  background-color: #B7B5B5;
  margin-top: 1rem;
  display: flex;
}

.art__Container {
  border: grey 1px solid;
  padding-top:1rem;
}

.art__Date {
  margin-left: 1rem;
  text-align: left;
  color: black;
}

.art__Title {
  margin-top: 0.5rem;
  margin-left: 1rem;
  text-align: left;
  font-family: "Nunito", sans-serif;
  font-weight: bold;
  font-size: 30px;
}
.art__Title u {
  text-decoration: none;
  border-bottom: 1px solid black;
}

.art__Author {
margin-left: 1rem;
margin-top: 2rem;
text-align: left;
}
.art__Author a {
  font-family: "Nunito", sans-serif;
  font-weight: bold;
  color: black;
}

.art__Filler {
  text-align: justify;
  margin-left: 1rem;
  margin-top: 2rem;
  font-size: 20px;
  width: 375px;
  line-height: 30px;
}

.art__Arrow:hover {
  background-color: #757575;
}

.art__Arrow {
  float: left;
  background-color: #B7B5B5;

  padding: 4rem;
  margin-top: 4rem;
  border:none;
}

.art__Arrow i {
  font-size: 30px;
}

.third__Wrap {
  background-color: #757575;
  margin-top: 1rem;
  display: flex;
  justify-content: space-around;
}

.third__Sponsor {
  margin-left: 2rem;
  width: 383px;
  height: 270px;
  background: #878383;
  border-radius: 15px;
}

.third__Sponsor img {
  margin-top: 1.2rem;
  width: 175px;
  height: 62.5px;
}

.sponsor__Title {
  font-weight: bold;
  color: white;
}
.sponsor__Content {
  color: white;
  text-align: center;
  margin: 2rem 2rem;
}

.third__Sponsor button {
  margin: 0.5rem;
  padding: 0.6rem;
  border-radius: 10px;
  border: none;
}

.third__Cat {
  margin-right: 2rem;
  background: #B7B5B5;
  border-radius: 15px;
  width: 864px;
  height: 650px;
}

.cat__Cat {
  width: 241px;
  height: 290px;
}

.cat__Smashing {
  margin: 5rem auto;
  text-align: center;
  text-decoration: underline;
  color: white;
  font-family: sans-serif;
  font-size: 40px;
  font-weight: bold;
}

.cat__Intro  p {
  margin: 3rem;
  margin-right: 9rem;
  margin-left: 9rem;
  color: white;
  text-align: center;
  font-size: 20px;
  line-height: 20px;
}

.cat__Button {
  padding: 20px;
  background-color: white;
  border: none;
  border-radius: 15px;
  font-family: sans-serif;
  font-weight: bold;
  font-size: 18px;
  color: grey;
  margin-bottom: 2rem;
}

.cat__Account p {
  color: white;
}


.hibrid__Wrap {
  margin-top:1rem;
  display: flex;
  justify-content: space-between;
  flex-wrap: nowrap;
}

.hibrid__Cat {
  margin-right: 2rem;
  margin-left: 2rem;
  background: #B7B5B5;
  border-radius: 15px;
  width: 864px;
  height: 650px;

}

.hibrid__Container{
  border: grey 1px solid;
  padding-top:1rem;
  background-color: #B7B5B5;
  width: 40%;
  margin-bottom:auto;
  margin-left: 2rem;
}

.hibrid__Footer {
  margin: 4rem;
}
.hibrid__Footer a {
  font-size: 15px;
  text-transform: uppercase;
  text-decoration: none;
  color: white;
  border-bottom: 8px solid black;
}

.five__Ethical {
  background-color: #878383;
  height: 160vh;
  width: 100%;
}
.add__Wrapper p {
  margin: 4rem auto;
  letter-spacing: 2px;
  font-weight: 700;
  color: white;
}

.add__Smashing {
  margin: 5rem auto;
  text-align: center;
  text-decoration: underline;
  color: white;
  font-family: 'Nunito', sans-serif;
  font-size: 40px;
  font-weight: bold;
  text-shadow: 1px 2px 2px #383636;
}

.add__Dark {
  margin-top: 1rem;
  text-align: center;
  color: black;
  font-family: 'Nunito', sans-serif;
  font-size: 40px;
  font-weight: bold;
}
.add__Intro  p {
  margin: 3rem;
  margin-right: 22rem;
  margin-left: 22rem;
  color: white;
  text-align: center;
  font-size: 20px;
  line-height: 20px;
  font-weight: normal;
}

.add__Bold {
  font-weight: bolder;
}

.add__Cat {
  margin: 0 auto;
}
